.timeline-container {
    .timeline-header {
        display: flex;
        margin-bottom: 15px;

        h2 {
            flex-grow: 1;
            margin: 0;
        }
    }

    .fetch-time {
        font-size: 15px;
    }

    .timeline {
        list-style-type: none;
        padding: 0;
    }
}
