@import '../../app';

$item-background-color: $background-color;

$color-train-planned: $primary-color; // blue;

$color-no-delay: #37b341; // green;
$color-slight-delay: #ffb142; // orange;
$color-delay: #ff5252; // red;

.timeline-item {
    display: flex;
    flex-direction: row;

    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        position: relative;

        .icon {
            width: 46px;
            height: 46px;
            background-color: $item-background-color;
            border-radius: 50%;
            border: 4px solid $color-train-planned;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            position: absolute;
            background: $color-train-planned;
            height: 100%;
            width: 4px;
            left: calc(50% - (4px / 2));
            z-index: -1;
        }
    }

    &:first-child .icon-container::after {
        height: 50%;
        transform: translateY(50%);
    }

    &:last-child .icon-container::after {
        height: 50%;
        transform: translateY(-50%);
    }

    /* Kolorowanie według bieżącego opóźnienia oraz poprzedniego */

    &.time-no-delay {
        .icon-container .icon {
            background-color: $color-no-delay;
            border-color: $color-no-delay;
        }

        .icon-container::after {
            background: $color-no-delay;
        }
    }

    &.time-slight-delay {
        .icon-container .icon {
            background-color: $color-slight-delay;
            border-color: $color-slight-delay;
        }

        .icon-container::after {
            background: $color-slight-delay;
        }
    }

    &.time-delay {
        .icon-container .icon {
            background-color: $color-delay;
            border-color: $color-delay;
        }

        .icon-container::after {
            background: $color-delay;
        }
    }

    &.time-no-delay {
        &.prev-time-slight-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-slight-delay 50%,
                $color-no-delay 50%,
                $color-no-delay 100%
            );
        }

        &.prev-time-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-delay 50%,
                $color-no-delay 50%,
                $color-no-delay 100%
            );
        }
    }

    &.time-slight-delay {
        &.prev-time-no-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-no-delay 50%,
                $color-slight-delay 50%,
                $color-slight-delay 100%
            );
        }

        &.prev-time-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-delay 50%,
                $color-slight-delay 50%,
                $color-slight-delay 100%
            );
        }
    }

    &.time-delay {
        &.prev-time-no-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-no-delay 50%,
                $color-delay 50%,
                $color-delay 100%
            );
        }

        &.prev-time-slight-delay .icon-container::after {
            background: linear-gradient(
                to bottom,
                $color-slight-delay 50%,
                $color-delay 50%,
                $color-delay 100%
            );
        }
    }

    &.train-not-arrived .icon-container .icon {
        background-color: $item-background-color;
    }

    /* Pozostałe reguły */

    .station-data {
        line-height: 23px;
        padding: 15px 0;

        .name {
            font-size: 20px;
            margin: 0;
            padding: 0 0 10px;
        }

        .delayed *:not(.label) {
            color: $delay-strikethrough-color;
        }

        .label {
            display: inline-block;
            width: 100px;
        }

        .current-time,
        .delay {
            margin-left: 10px;
        }
    }
}
