.train-view {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .train-info {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        overflow: hidden;

        position: sticky;
        top: 50px;

        .info-block {
            font-size: 30px;

            .carrier-and-number {
                display: flex;
                flex-direction: row;

                .carrier-logo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .train-name {
                text-transform: uppercase;
                padding: 10px 0;

                font-weight: 300;
                font-size: 32px;
            }
        }

        .route-block {
            padding: 10px 0 5px;
            line-height: 25px;
            border-bottom: 1px solid #bbb;

            .title {
                font-size: 17px;
            }

            .route {
                font-size: 22px;
            }
        }

        .actions {
            margin-top: 20px;

            .track-button,
            .return-button {
                margin: 5px;
            }

            .track-button {
                min-width: 240px;
            }

            .return-button {
                margin-top: 7px;
            }
        }
    }

    .train-timeline {
        flex-grow: 1;
        padding-left: 20px;
    }
}
