@import '../../_app';

.station-view {
    @include global-containter;
    max-width: 1000px;

    text-align: center;

    .station-data {
        padding-top: 20px;

        .station-header {
            display: flex;
            position: relative;
            margin-bottom: 20px;

            h2 {
                flex-grow: 1;
                margin: 0;
                font-size: 26px;
                font-weight: 400;

                .station-name {
                    font-weight: 700;
                }
            }

            .refresh-btn {
                position: absolute;
                right: 0;
            }
        }

        .fetch-time {
            font-size: 15px;
        }

        .no-data {
            margin: 0;
            padding: 40px 0;
            font-size: 22px;
            font-weight: 300;
        }

        .views {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 5px 0 0px;

            > * {
                min-width: 400px;

                @media (min-width: 901px) {
                    width: 50%;
                }
            }

            /* @todo są problemy, gdy liczba odjazdów jest większa,
            * a nie wiem jak całość będzie jeszcze wyglądać */
            // .items-border {
            //     border-right: 1px #aaa dashed;
            // }
        }

        .next-page {
            width: 230px;
            margin: 0 auto;
        }

        .return-button {
            width: 250px;
            margin: 20px auto 0;
        }
    }
}
