@import '../../app';

.train {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

    @include list-item-highlight;

    .timebox-container {
        width: 70px;
        display: flex;
        justify-content: center;

        .timebox {
            display: flex;
            flex-direction: column;

            &.delayed {
                color: $delay-strikethrough-color;
            }

            .time:not(.strikethrough) {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
            }

            .delay {
                font-size: 11px;
            }
        }
    }

    .carrier-logo .logo {
        width: 70px;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 5px;
        line-height: 22px;

        .route {
            font-weight: 600;
        }

        .train-ids {
            font-weight: 300;

            .train-number {
                padding-right: 7px;
            }
        }
    }
}
