.view-group {
    .no-items {
        margin: 0;
        padding: 20px 0;
        font-weight: 300;
        font-size: 18px;
    }

    .items {
        list-style-type: none;
        padding: 0 25px;
    }
}
