@import '../app';

.btn-default {
    display: block;
    cursor: pointer;
    border: none;
    background-color: $primary-color;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: $primary-hover-color;
    }

    &.color-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: $secondary-hover-color;
        }
    }

    .label {
        padding-left: 10px;
    }
}

.line-button-container {
    display: flex;

    .line-button {
        flex-grow: 1;
    }
}
