@import '../app';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;

    .logo {
        height: 65px;
        width: auto;
    }

    .page-title {
        margin: 0 0 0 20px;
        font-size: 34px;

        a {
            color: $primary-color;
        }
    }
}
