.search-box {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

    p {
        margin: 25px 0 20px;
    }

    .input-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-btn {
            margin-left: 10px;
        }
    }
}
