$primary-color: #5a55a3;
$primary-hover-color: #706fd3;

$secondary-color: #fd5d5d;
$secondary-hover-color: #ff7e7e;

$background-color: #e8e8e7;

$delay-strikethrough-color: #b62d2d;

@mixin global-containter {
    margin: 0 auto;
}

@mixin list-item-highlight {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e2e1f1;
        border-left: 3px solid $primary-color;
        border-right: 3px solid $primary-color;
    }
}
