@import '_app';

.container {
    @include global-containter;
    max-width: 1000px;
}

a {
    text-decoration: none;
}

body {
    background-color: $background-color;

    padding-bottom: 20px;
}

h3 {
    font-size: 20px;
}

.strikethrough {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        right: 0;
        border-top: 2px solid;
        border-color: inherit;

        transform: rotate(-13deg);
    }
}

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

// * {
//     font-family: 'Roboto', sans-serif;
// }

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
