@import '../../app';

.last-selected {
    text-align: center;

    .component-title {
        margin: 0 0 20px;
    }

    .list-container {
        .list {
            list-style-type: none;
            display: inline-block;
            margin: 0;
            padding: 0;

            .item {
                display: flex;
                flex-direction: row;
                min-width: 300px;

                @include list-item-highlight;

                .display-name {
                    flex-grow: 1;
                    padding: 9px 20px;
                    padding-left: 60px; /* zwiększ o szerokość przycisku usuwania */
                    font-size: 18px;
                    cursor: pointer;
                }

                .delete-btn {
                    visibility: hidden;
                    padding: 9px 0px;
                    width: 40px;
                    font-size: 20px;
                    color: $primary-color;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: $secondary-color;
                        color: #fff;
                    }
                }

                &:hover .delete-btn {
                    visibility: visible;
                }
            }
        }
    }
}
