@import '../../_app';

.startup-view {
    @include global-containter;
    max-width: 1000px;

    .components {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .view-item {
            min-width: 400px;
            padding-top: 20px;
        }

        .view-item:not(.single) {
            width: 50%;
        }

        .view-item.single {
            width: 100%;
        }
    }
}
