@import '../../app';

.tracked-item {
    display: flex;
    flex-direction: row;

    @include list-item-highlight;

    .data {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        padding: 10px;
        min-width: 300px;
        cursor: pointer;

        .carrier-logo .logo {
            width: 70px;
        }

        .info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: 5px;
            line-height: 22px;

            .route {
                font-weight: 600;
            }

            .train-ids {
                font-weight: 300;

                .train-number {
                    padding-right: 7px;
                }
            }
        }
    }

    .delete-btn-container {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 50px;
        cursor: pointer;
        color: $primary-color;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $secondary-color;
            color: #fff;
        }

        .delete-btn {
            font-size: 22px;
        }
    }

    &:hover .delete-btn-container {
        visibility: visible;
    }
}
