.tracked-trains {
    text-align: center;

    .component-title {
        margin: 0 0 20px;
    }

    .list-container {
        .list {
            list-style-type: none;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        .deleted-notice {
            font-size: 14px;
        }
    }
}
